<div class="admin-form">
<%= error_messages_for :article %>

<fieldset>
  <legend>Edit News Article</legend>
  <% form_for :article, @article, :url => {:controller => "admin", :action => "update_news", :id => @article} do |form| %>
  
    <p>
      <label for="article_title">Title:</label> <br/>
      <%= form.text_field :title, :size => 60 %>
    </p>
    <p>
      <label for="article_description">Description:</label><br/>
      <%= form.text_area :description %>
    </p>
    <p>
      <label for="article_body">Body:</label><br/>
      <%= form.text_area :body %>
    </p>
    <p>
      <label for="article_keywords">Keywords</label><br/>
      <%= form.text_field :keywords, :size => 50 %><br/>
      <span style="color: gray; font-size: .8em;">Must be a comma-delimited list (i.e., "one, two, three")</span>
    </p>
    <p>
      <label for="article_active">Active?</label>
      <%= form.check_box :active %>
    </p>
    
    <%= submit_tag "Update Article", :class => "submit" %>
  
  <% end %>
</fieldset>
</div>